<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="signin.css" />
    <title>Sign IN</title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/login">login</a>
      <a href="/signin">signin</a>
      <a href="/students">students</a>
    </nav>
    <h1>sign in</h1>
    <form action="" id="f" method="POST">

   <!-- <label for = "id" >ID</label>
      <input type = "text"  name="id" />
     <br /> -->

      <label for="username">Username</label
      ><input type="text" name="username" />
      <br />
      <br />

      <label for="password">Password</label
      ><input name="password" type="password" />
     <br />
      <br />
   
      

      <button id="btn">Sign In</button>
    </form>
        <div id="msg"></div>

    <script src="signin.js"></script>
  </body>
</html>
